# Ambiente Virtual
.venv/
.venv312/
venv/
env/

# Arquivos Sensíveis e Tokens
.env
refreshtoken.txt

# Arquivos gerados pelo Python
__pycache__/
*.pyc

# Configurações de editores de código
.vscode/
.idea/